*.bak
*.bak
*.cache
*.dll
*.dylib
*.exe
*.exe~
*.lcov
*.log
*.out
*.pid
*.pid.lock
*.seed
*.so
*.test
*.tgz
*.tsbuildinfo
.cache
.cache/
.docusaurus
.DS_Store
.dynamodb/
.editorconfig
.env
.env.development.local
.env.local
.env.production.local
.env.test
.env.test.local
.eslintcache
.firebase
.firebaserc
.fusebox/
.github/
.gitignore
.grunt
.hugo_build.lock
.hugo_stats.json
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.*
.pnpm-debug.log*
.prettierignore
.prettierrc
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.stylelintcache
.stylelintrc.json
.temp
.tern-port
.vscode-test
.vuepress/dist
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
/.env.*
/.firebase/
/assets/jsconfig.json
/emulator-ui/
/firebase-*.zip
/firebase-debug.*.log
/firebase-debug.log
/firebase.json
/functions/.env
/functions/node_modules/
/functions/package-lock.json
/static
assets/jsconfig.json
bower_components
build/Release
commit.bat
commit.fish
commit.fish
commit.sh
console-backup.json
content/
content/*
coverage
deploy.fish
dist
firebase.json
go.mod
go.sum
go.work
go.work.sum
hosting/.cache
hugo-stats.json
hugo_stats.json
jspm_packages/
layouts/shortcodes
lerna-debug.log*
lib-cov
logs
node_modules/
npm-debug.log*
out
package-lock.json
package.json
pids
pnpm-lock*
pnpm-lock.yaml
postcss.config.js
public/
push.bat
push.sh
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
resources/
rmdhnreza.sql
static/*
ts/jsconfig.json
typings/
update-submodule.sh
web_modules/
yarn-debug.log*
yarn-error.log*
yarn-error.log.cache