@use "sass:selector";

@mixin tag($tag) {
  $ampersand: & + "";
  $selectors: simple-selectors(str-replace($ampersand, " ", ""));

  $main-selector: nth($selectors, -1);
  $previous-selectors: str-replace($ampersand, $main-selector, "");

  @at-root {
    #{$previous-selectors}#{$tag}#{$main-selector} {
      @content;
    }
  }
}

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

.article-content {
  font-size: 1.5rem;

  .copyCodeButton {
    top: calc(var(--card-padding) - 11px);
  }

  .highlight {
    padding: 0;

    pre {
      padding: 0;
      font-weight: 600;
    }
  }

  code {
    color: var(--card-text-color-main);
    font-weight: 600;
  }

  h3 {
    align-items: center;
    background-color: var(--toc-color);
    border-inline-start: 0;
    color: var(--heading-text-color);
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
    letter-spacing: 1px;
    margin-left: calc((var(--card-padding)) * -1);
    margin-right: calc((var(--card-padding)) * -1);
    padding: var(--small-card-padding);
    width: calc(100% + var(--card-padding) * 2);
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 2rem;
  }

  hr {
    background: var(--categories-border-color);
  }

  td {
    border: none;

    &:has(img) {
      padding: 0em 2em !important;
    }

    &:not(:has(img)) {
      border: 1px solid var(--table-border-color);
    }
  }
}

.article-list--compact {
  border: 1px solid var(--border-color);

  & article {
    display: flex;
    flex-direction: column;

    & > a {
      padding: 0;
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid var(--categories-border-color);
    }

    & .article-details {
      display: flex;
      flex-basis: 80%;
      flex-grow: 0;
      gap: 15px;
      padding: var(--small-card-padding) 0 0 var(--small-card-padding);

      @media (max-width: 752px) {
        padding: var(--small-card-padding);
      }

      h2 {
        font-size: 22px;
        font-weight: 600;
      }

      h3 {
        font-size: 16px;
        font-weight: 400;
        margin: 0;
      }
    }

    & .article-image {
      align-items: center;
      display: inline-flex;
      flex-basis: 20%;
      justify-content: center;
      padding: var(--small-card-padding) 0 0;

      & img {
        border-radius: var(--card-border-radius);
        height: var(--thumbnail-size);
        object-fit: contain;
        width: var(--thumbnail-size);
      }
    }

    & .article-tags {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: var(--gaps-padding) 0 var(--small-card-padding)
        var(--small-card-padding);

      @media (max-width: 752px) {
        padding: var(--small-card-padding);
        padding-top: 0;
      }

      a {
        background: var(--categories-color);
        border-radius: var(--tag-border-radius);
        border: 1px solid var(--categories-border-color);
        box-shadow: var(--shadow-l1);
        color: var(--card-text-color-main);
        font-size: 1.5rem;
        padding: 8px 20px;
        transition: box-shadow 0.3s ease;

        &:hover {
          background: var(--categories-color-hover);
          box-shadow: var(--shadow-l2);
        }
      }
    }

    & .article-title {
      gap: 15px;
    }
  }
}

.article-page {
  & .main-article {
    border: 1px solid var(--border-color);

    & .article-header {
      & .article-details {
        align-items: center;
        padding-bottom: 36px;
      }
    }
  }
}

.article-time {
  & time,
  & .time.time {
    align-items: center;
    column-gap: 6px;
    display: flex;
  }

  & svg {
    stroke-width: 2.33;
  }
}

.container {
  .right-sidebar {
    @media (max-width: 1280px) {
      max-width: calc(var(--right-sidebar-max-width) - 5%);
    }

    @media (max-width: 1024px) {
      display: none;
    }
  }
}

.chroma {
  padding: var(--small-card-padding);

  & .lntd {
    vertical-align: top;
  }

  & .lntable {
    border-spacing: 0;
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;

    tbody {
      display: block;
      width: 100%;

      tr {
        display: flex;
        width: 100%;

        td:last-child {
          overflow-x: auto;
        }
      }
    }
  }

  & .hl {
    display: block;
  }

  & .lnt {
    // color: var(--line-color) !important;
    display: block;
    margin-right: 1.2em !important;
    padding: 0 !important;
    user-select: none;
  }

  & .ln {
    margin-right: 0 !important;
    padding: 0 !important;
  }
}

.gallery-image {
  > a {
    cursor: pointer;
  }
}

.hamburger {
  margin: 1.2em 0;
}

.left-sidebar {
  &.compact {
    header {
      .site-description {
        display: none;
      }
      .site-name {
        font-size: 3rem;

        @media (max-width: 1366px) {
          font-size: 2.4rem;
        }

        @media (max-width: 768px) {
          font-size: 2rem;
        }

        @media (max-width: 750px) {
          font-size: 3rem;
        }
      }
    }
  }
}

.menu {
  li {
    svg {
      stroke-width: 2.33;
    }
  }
}

.note {
  align-items: center;
  background-color: var(--note-background-color);
  color: var(--note-text-color);
  display: flex;
  margin: var(--note-margin);
  padding: calc(var(--small-card-padding) - 15px);
  width: calc(100% + var(--card-padding) * 2);

  svg {
    height: 30px;
    margin-right: 10px;
    width: 30px;
  }
}

.pagination {
  border: 1px solid var(--border-color);

  a:hover {
    background: var(--categories-color-hover);
  }
}

.pswp__caption__center {
  text-align: center !important;
}

.search-form {
  input {
    border: 1px solid var(--border-color);
    font-size: 1.5rem;
  }
}

.search-result--list.article-list--compact {
  article {
    a {
      padding: var(--small-card-padding) 0;

      .article-details {
        padding: 0 0 0 var(--small-card-padding);
      }

      .article-image {
        padding: 0 0 0 var(--small-card-padding);
      }
    }
  }
}

.section-title {
  align-items: center;
  column-gap: 6px;
  display: flex;
  font-size: 18px;
}

.sidebar {
  & header {
    flex-direction: row;
  }
}

.tableOfContent {
  background-color: var(--toc-color);
  color: var(--heading-text-color);
  padding: 15px 0 0 var(--card-padding);

  & .tableOfContentList {
    background-color: var(--article-heading-background);
    color: var(--card-text-color-main);
    display: flex;
    flex-direction: column;
    font-weight: 500;

    @include tag(#TableOfContents) li {
      margin: 12px 0 0;

      & > ol > li {
        margin: 12px 0 0 15px;
      }
    }
  }

  & .titleTableOfContent {
    @include tag(h3) {
      font-size: 2.4rem;
      margin: 0;
    }
  }
}

.socialShare {
  display: flex;
  padding-top: 0;
  padding: var(--card-padding);

  @include tag(span) .socialInfo {
    align-items: center;
    color: var(--card-text-color-main);
    display: flex;
    flex-direction: row;
    margin: 0 0.5em 0 0;
  }

  @at-root .socialButton {
    display: grid;
    gap: 0.5em;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);

    @include tag(a) .socialLinksFacebook {
      background-color: #1778f2;
      border-radius: var(--tag-border-radius);
      color: #fff;
      display: flex;
      font-size: 1.5rem;
      gap: 0.5rem;
      justify-content: center;
      padding: 8px 16px;
      transition: background-color 0.5s;
    }

    @include tag(a) .socialLinksTwitter {
      background-color: #1da1f2;
      border-radius: var(--tag-border-radius);
      color: #fff;
      display: flex;
      font-size: 1.5rem;
      gap: 0.5rem;
      justify-content: center;
      padding: 8px 16px;
      transition: background-color 0.5s;
    }
  }

  @media only screen and (max-width: 480px) {
    display: grid;
    grid-row-gap: 0.5em;
  }
}

.tagCloud {
  .tagCloud-tags {
    a {
      background: var(--categories-color);
      border-radius: var(--tag-border-radius);
      border: 1px solid var(--categories-border-color);
      box-shadow: var(--shadow-l1);
      color: var(--card-text-color-main);
      font-size: 1.5rem;
      padding: 8px 20px;
      transition: box-shadow 0.3s ease;

      &:hover {
        background: var(--categories-color-hover);
        box-shadow: var(--shadow-l2);
      }
    }
  }
}

.widget.archives {
  .archives-year {
    & a {
      font-size: 1.5rem;
    }
    &:not(:last-of-type) {
      border-bottom: 1px solid var(--categories-border-color);
    }
  }

  .widget-archive--list {
    border: 1px solid var(--border-color);
  }
}

#main-menu {
  padding: 6px;

  &.show {
    border-radius: var(--card-border-radius);
    margin: 1 calc(var(--container-padding) * -1);
    padding: 2rem;
  }

  & > li {
    & a:hover {
      color: var(--link-color);
    }
  }

  @media (max-width: 767px) {
    border-radius: var(--card-border-radius);
    border: 1px solid var(--border-color);
    flex-direction: column;
    gap: 30px;
    margin: 1 calc(var(--container-padding) * -1);
    padding: 6px;
  }
}

a {
  &:focus-visible {
    border-radius: var(--tag-border-radius);
    outline: 3px solid var(--line-color);
  }

  &:hover {
    color: var(--link-color);

    .article-title,
    .section-description {
      color: var(--link-color);
    }
  }

  &.link {
    color: var(--link-color);
    font-weight: 700;
  }
}

aside {
  &.related-content--wrapper {
    background-color: var(--card-background);
    border: 1px solid var(--border-color);
    border-radius: var(--card-border-radius);

    .section-title {
      padding: 1em 1em 0 1em;
    }

    .related-content {
      padding: 0em 0em 1em 1em;
    }
  }
}

details {
  background: var(--spoiler-background-color);
  border: 1px solid var(--spoiler-border-color);
  border-radius: var(--card-border-radius);
  box-shadow: var(--shadow-l2);

  &:hover {
    cursor: pointer;
  }

  &.spoiler[open] {
    summary {
      border-bottom: 1px solid var(--spoiler-border-color);
    }

    .chroma,
    .gallery,
    .highlight,
    .video-wrapper {
      border-bottom-left-radius: calc(var(--card-border-radius) - 1px);
      border-bottom-right-radius: calc(var(--card-border-radius) - 1px);
      cursor: auto;
      margin-left: calc((var(--card-padding)) * 0) !important;
      margin-right: calc((var(--card-padding)) * 0) !important;
      width: calc(100% + var(--card-padding) * 0) !important;
    }
  }

  .summary-title {
    user-select: none;
  }

  summary {
    padding: var(--details-padding);

    &:focus {
      outline: none;
    }

    &[open] {
      border-bottom: 1px solid var(--border-color);
    }
  }
}

header {
  h1,
  h2 {
    &.article-title {
      font-size: 3rem;
    }
  }

  &.header--wrapper {
    background-color: var(--card-background);
    border-radius: var(--card-border-radius);
    border: 1px solid var(--border-color);
    padding: 0 1em 0 0;

    .section-title {
      padding: 1em 1em 0 1em;
    }

    .article-list--tile {
      padding: 0 1em 1em 1em;
    }
  }
}

nav#TableOfContents ol {
  counter-reset: item;
  list-style-type: none;

  & > li > a:first-of-type::before {
    color: var(--card-text-color-main);
    content: counters(item, ".") ". ";
    counter-increment: item;
  }

  & > li > ol {
    padding: 0;
    counter-reset: sub-item;
  }

  & > li > ol > li > a:first-of-type::before {
    color: var(--card-text-color-main);
    content: "";
    counter-increment: sub-item;
  }
}

ol.breadcrumb {
  list-style: none;
  padding: 0;

  & li {
    display: inline;
    font-size: 18px;
    font-weight: 500;

    & > a {
      background: var(--categories-color);
      border-radius: var(--tag-border-radius);
      border: 1px solid var(--categories-border-color);
      box-shadow: var(--shadow-l1);
      color: var(--card-text-color-main);
      font-size: 1.5rem;
      padding: 8px 20px;
      transition: box-shadow 0.3s ease;

      &:hover {
        background: var(--categories-color-hover);
        box-shadow: var(--shadow-l2);
        color: var(--link-color);
      }
    }

    & + li:before {
      content: "";
      padding: 2px;
    }
  }

  @at-root .breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    padding-inline-start: 0;
    padding: 0;
  }
}

p:empty {
  display: none;
}

table:has(img) {
  border: 0;
  padding: 0em 2em;

  & thead {
    border: 0;
    display: none;
  }
}
