a {
    text-decoration: none;
    color: var(--accent-color);

    &:hover {
        color: var(--accent-color-darker);
    }

    &.link {
        box-shadow: 0px -2px 0px rgba(var(--link-background-color), var(--link-background-opacity)) inset;
        transition: all 0.3s ease;

        &:hover {
            box-shadow: 0px calc(-1rem * var(--article-line-height)) 0px rgba(var(--link-background-color), var(--link-background-opacity-hover)) inset;
        }
    }
}

.section-title {
  align-items: center;
  color: var(--body-text-color);
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  gap: 5px;
  margin-bottom: 10px;
  margin-top: 0;
  text-transform: uppercase;

    a {
        color: var(--body-text-color);
    }
}
