.article-page {
  &.hide-sidebar-sm .left-sidebar {
    display: none;

    @include respond(md) {
      display: inherit;
    }
  }

  .main-article {
    background: var(--card-background);
    border: 1px solid var(--border-color);
    border-radius: var(--card-border-radius);
    box-shadow: var(--shadow-l1);
    overflow: hidden;

    .article-header {
      .article-image img {
        width: 100%;
        max-height: 50vh;
        height: auto;
        object-fit: cover;
      }

      .article-details {
        padding: var(--card-padding);
        padding-bottom: 0;
      }
    }

    .article-content {
      margin: var(--card-padding) 0;
      color: var(--card-text-color-main);

      .footnotes {
        font-family: var(--base-font-family);
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .article-footer {
      margin: 0 var(--card-padding) var(--card-padding);

      section {
        color: var(--card-text-color-tertiary);
        text-transform: uppercase;
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        gap: 15px;

        &:not(:first-child) {
          margin-top: var(--card-padding);
        }

        svg {
          width: 20px;
          height: 20px;
          stroke-width: 1.33;
        }
      }

      .article-tags {
        text-transform: unset;
      }

      .article-copyright,
      .article-lastmod {
        a {
          color: var(--body-text-color);

          &.link {
            box-shadow: unset;
          }
        }
      }
    }
  }
}

/* --- Related content --- */
.related-content {
  background: var(--card-background);
  overflow-x: auto;
  border: 1px solid var(--border-color);
  border-radius: var(--card-border-radius);
  padding: var(--card-border-radius);

  > .flex {
    float: left;
  }

  article {
    flex-shrink: 0;
    overflow: hidden;
    width: 250px;
    height: 150px;
    margin-right: 15px;

    .article-title {
      font-size: 1.8rem;
      margin: 0;
    }

    &.has-image .article-details {
      padding: 20px;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.25) 0%,
        rgba(0, 0, 0, 0.75) 100%
      );
    }
  }
}

/* --- Article Content --- */
.article-content {
  font-family: var(--article-font-family);
  font-size: var(--article-font-size);
  line-height: var(--article-line-height);
  padding: 0 var(--card-padding);

  > p {
    margin: 1.5em 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-inline-start: calc(var(--card-padding) * -1);
    padding-inline-start: calc(
      var(--card-padding) - var(--heading-border-size)
    );
    border-inline-start: var(--heading-border-size) solid var(--accent-color);
    position: relative;

    a.header-anchor {
      position: absolute;
      left: 0;
      width: var(--card-padding);
      text-align: center;
      color: var(--accent-color);
      opacity: 0;
      transition: opacity 0.3s ease;

      &:before {
        content: "#";
      }
    }

    &:hover a.header-anchor,
    &:focus a.header-anchor {
      opacity: 1;
    }
  }

  h3 {
    font-size: 2.4rem;
  }
  h4 {
    font-size: 2rem;
  }

  figure {
    text-align: center;

    figcaption {
      font-size: 1.4rem;
      color: var(--card-text-color-secondary);
    }
  }

  blockquote {
    margin: 1.5em 0;
    padding: 15px calc(var(--card-padding) - var(--blockquote-border-size));
    border-inline-start: var(--blockquote-border-size) solid
      var(--card-separator-color);
    background-color: var(--blockquote-background-color);
    position: relative;

    .cite {
      display: block;
      text-align: right;
      font-size: 0.75em;

      a {
        text-decoration: underline;
      }
    }
  }

  hr {
    width: 100px;
    margin: 40px auto;
    height: 2px;
    border: 0;
    background: var(--card-text-color-tertiary);
    opacity: 0.55;
  }

  code {
    font-family: var(--code-font-family);
    color: var(--pre-text-color);
    background-color: var(--code-background-color);
    padding: 2px 4px;
    border-radius: var(--tag-border-radius);
    font-weight: 700;
  }

  a,
  code {
    word-break: break-word;
  }

  .gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 1.5em 0;

    figure {
      margin: 0;
    }
  }

  pre {
    padding: var(--card-padding);
    background-color: var(--pre-background-color);
    color: var(--pre-text-color);
    font-family: var(--code-font-family);
    font-weight: 600;
    line-height: 1.428571429;
    overflow-x: auto;
    word-break: break-all;

    [dir="rtl"] & {
      direction: ltr;
    }

    code {
      background: none;
      border: none;
      padding: 0;
      color: inherit;
    }
  }

  .highlight {
    background-color: var(--highlight-color);
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    padding: 1rem;
    position: relative;

    &:hover .copyCodeButton {
      opacity: 1;
    }

    .chroma > table {
      margin: 0;
      td {
        border: 0;
      }
    }

    [dir="rtl"] & {
      direction: ltr;
    }

    pre {
      margin: 0;
      padding: 0;
      width: auto;
    }
  }

  .copyCodeButton {
    position: absolute;
    top: 4.5px;
    right: var(--card-padding);
    padding: 8px 16px;
    border: none;
    border-radius: var(--tag-border-radius);
    background: var(--card-background);
    color: var(--card-text-color-main);
    box-shadow: var(--shadow-l2);
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .table-wrapper {
    display: block;
    padding: 0 var(--card-padding);
    overflow-x: auto;
  }

  table {
    width: 100%;
    margin-bottom: 1.5em;
    border-collapse: collapse;
    font-size: 0.96em;

    th,
    td {
      padding: 4px 8px 4px 10px;
      border: 1px solid var(--table-border-color);
      text-align: left;
    }

    td {
      vertical-align: top;
    }
    tr:nth-child(even) {
      background-color: var(--tr-even-background-color);
    }
  }

  .twitter-tweet {
    color: var(--card-text-color-main);
  }

  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    > iframe,
    > video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  /* Shared negative margins for wide blocks */
  blockquote,
  figure,
  .gallery,
  .video-wrapper,
  .table-wrapper,
  .s_video_simple {
    margin-inline: calc(var(--card-padding) * -1);
    width: calc(100% + var(--card-padding) * 2);
  }

  /* KaTeX long equations */
  .katex-display > .katex {
    overflow-x: auto;
    overflow-y: hidden;
  }

  kbd {
    display: inline-block;
    padding: 2px 4px;
    border: 1px solid var(--kbd-border-color);
    border-radius: 4px;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1;
  }

  ul {
    padding-inline-start: 15px;
  }

  li {
    .highlight {
      margin-inline: 0;
      width: 100%;
    }

    h4 {
      margin-block-start: 1em;
      margin-block-end: 0;
      font-size: 1.6rem;
      border-inline-start: 0;
      padding-inline-start: 0;
      margin-inline-start: 0;
      position: relative;
    }
  }
}

.time-home {
  margin-top: 0;
}
