<article class="{{ if .Params.image }}has-image {{ end }}main-article">
	{{ $ISO8601 := "2006-01-02T15:04:05-07:00" }}
	<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "Article",
			"headline": "{{ .Title | safeJS }}",
			"author": {
				"@type": "Person",
				"name": "rmdhnreza",
				"url": "https://github.com/rmdhnreza"
			},
			"datePublished": "{{ .Date.Format "Monday, 1 January, 2006 15:04:05 MST" }}",
			"dateModified": "{{ .Lastmod.Format "Monday, 1 January, 2006 15:04:05 MST" }}",
			"mainEntityOfPage": {
				"@type": "WebPage",
				"@id": "{{ .Permalink }}"
			},
			"publisher": {
				"@type": "Organization",
				"name": "rmdhnreza",
				"logo": {
					"@type": "ImageObject",
					"url": "{{ .Site.BaseURL | strings.TrimRight "/" }}/favicon.ico"
				}
			},
			"image": "{{ .Params.ThumbSchema }}"
		}
		</script>
	{{ partial "article/components/header" . }}

  {{ partial "article/components/content" . }}
</article>
