/*
*   Style: monokailight
*   https://xyproto.github.io/splash/docs/monokailight.html
*/

$color: #4c4f69;
$background-color: #eff1f5; // Base (main background)
$error-color: #04a5e5; // Red (error colors)
$keyword-color: #1e66f5; // Blue (keywords)
$text-color: $color; // Text (main text color)
$name-color: #40a02b; // Green (for variable or name highlights)
$literal-color: #7287fd; // Yellow (for literals or constants)

@import "common.scss";
